<footer class="footer mt-auto py-3 bg-light border-top text-center text-muted">
    <div class="container">
        © @DateTime.Now.Year Wóz albo Przewóz — współdzielone przejazdy w Twoim mieście.
    </div>
</footer>
